body{
	background-image: linear-gradient(to right, beige, white, lightblue);
}

.div{
	position: relative;
}

#image{
	margin-left: 30%;
	margin-top: 5%;
	cursor: pointer;
}

#audio{
	margin-left: 39%;
	margin-top: 2%;
	display: none;
}

#river{
	position: absolute;
	width: 400px;
	height: 260px;
	left: 20px;
	top: 20px;
	display: none;
}

#horse{
	position: absolute;
	width: 400px;
	height: 260px;
	right: 20px;
	top: 20px;
	display: none;
}

#deel{
	position: absolute;
	width: 400px;
	height: 260px;
	right: 20px;
	bottom: 20px;
	display: none;
}

#nature{
	position: absolute;
	width: 400px;
	height: 260px;
	left: 20px;
	bottom: 20px;
	display: none;
}





